
@font-face {
    font-family: 'font1';
    src: url('../fonts/fontdefaut/Oswald-Regular.eot');
    src: url('../fonts/fontdefaut/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontdefaut/Oswald-Regular.woff2') format('woff2'),
    url('../fonts/fontdefaut/Oswald-Regular.woff') format('woff'),
    url('../fonts/fontdefaut/Oswald-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'font2';
    src: url('../fonts/fontdefaut/MontserratAlternates-Light.eot');
    src: url('../fonts/fontdefaut/MontserratAlternates-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontdefaut/MontserratAlternates-Light.woff2') format('woff2'),
        url('../fonts/fontdefaut/MontserratAlternates-Light.woff') format('woff'),
        url('../fonts/fontdefaut/MontserratAlternates-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'font3';
    src: url('../fonts/fontdefaut/Oswald-Light.eot');
    src: url('../fonts/fontdefaut/Oswald-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontdefaut/Oswald-Light.woff2') format('woff2'),
        url('../fonts/fontdefaut/Oswald-Light.woff') format('woff'),
        url('../fonts/fontdefaut/Oswald-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'font4';
    src: url('../fonts/fontdefaut/Oswald-ExtraLight.eot');
    src: url('../fonts/fontdefaut/Oswald-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontdefaut/Oswald-ExtraLight.woff2') format('woff2'),
        url('../fonts/fontdefaut/Oswald-ExtraLight.woff') format('woff'),
        url('../fonts/fontdefaut/Oswald-ExtraLight.ttf') format('truetype');
}
