/* Text Hide */

.text-split {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
}

.text-split-1 {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
}

.text-split-2 {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
}

.text-split-3 {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
}

.text-split-4 {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 4 !important;
}

.text-split-5 {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 5 !important;
}

.text-split-6 {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 6 !important;
}

.text-split-7 {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 7 !important;
}

.text-split-10 {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 10 !important;
}



/* header */
.logo-head {
    margin: 0px 10px;
}

.head-top {
    padding: 5px 0px;
    background: linear-gradient(0deg, #FFF 0%, #ebebeb 0%);
}
.group-social div a{
    color: #575756;
    font-size: 20px;
    font-family: "font1";
    text-decoration: underline;
    text-transform: uppercase;
}
.social-head ul {
    margin: 0px 10px;
    color: white;
}

.hotline-head {
    text-transform: uppercase;
    font-family: 'font7';
    color: #181717;
    font-size: 15px;
    background: url(../imgs/icon_tel.png) no-repeat left center;
    line-height: 32px;
    padding-left: 62px;
}

.hotline-head span {
    color: #d40000;
    display: block;
    font-family: 'font6';
    font-weight: normal;
    font-size: 30px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 2px 2px 3px #000;
}

.number-hotline {
    color: #ff0b00;
    font-size: 20px;
    font-weight: 500;
}


.header-top .wrap-content {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.group-social{
    display: flex;
    align-items: center;
    gap: 20px;
}
marquee {
    color: white;
    font-family: "font2";
}

#google_translate_element select {
    border: none;
    margin: 0 !important;
    height: 23px;
    color: red;
    width: 100%;
    /* width: 30px; */
    background: none;
    opacity: 0;
}

#google_translate_element {
    background: url(../images/vi.jpg) no-repeat;
    background-size: 100% 100%;
    width: 40px;
}
/* sản phẩm */
.box-product{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.product-box-imgs{
    width: 35%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.product-box-imgs img{
    z-index: 999;
}
.product-box-info{
    width: calc(100% - 30% - 35%);
    padding-right: 40px;
}
.product-box-info .product-name{
    font-size: 80px;
    color: white;
    text-transform: uppercase;
    font-family: "font1";
}
.product-box-info .product-desc{
    font-size: 16px;
    color: white;
    margin: 115px 0px 0px 0px;
    text-align: justify;
    font-family: "font2";
    line-height: 26px;
}
 .btn-group{
    position: absolute;
    left: calc(100% - 40px);
    bottom: 0px;
    height: 50%;
    letter-spacing: 2px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-family: "font2";
    transition:  0.8s ease;
 }
 .product-desc2{
    color: white;
 }
 .btn-group.choosed{
    left: -41px
 }
.btn-detail{
    padding: 45px 10px;
    border-top-right-radius:1em;
    border-bottom-right-radius:1em;
    background: rgba(255,255,255,0.45);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    width: fit-content;
    height: fit-content;
    /* display: none; */
    margin-top: 100px;
}
.product-content{
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
.box-left{
    display: flex;
}
.box-left .name-detail{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    font-size: 38px;
    font-family: "font1";
    margin: auto 20px;
    padding: 0px 20px;
    border-left: 1px dashed black;
    width: fit-content;
    height: fit-content;
}
.close-content{
    width: 70px;
    background: #CCC7C2;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.close-content i{
    font-size: 30px;
    height: fit-content;
}
.product-content p{
    padding: 50px;
    max-width: 50%;
    text-align: justify;
}
/* hiệu ứng */
.slide-1 .box-product .product-box-imgs img{

}
/* giới thiệu */
.wrap-gioithieu {
    padding: 0px !important;
    display: flex;
    justify-content: space-between !important;
    gap: 50px;
    font-family: "font2";
}
.name-gioithieu{
    font-family: "font1";
    font-size: 60px;
    margin-bottom: 100px;
}
.name-gioithieu2{
    font-family: "font1";
    font-size: 60px;
    margin-bottom: 100px;
    opacity: 0;
}
.left-gioithieu img{
    height: 100vh;
    width: 100%;
}

.left-gioithieu{
    width: 33.3%;
}

.mid-gioithieu{
    width: 33.3%;
}
.right-gioithieu{
    width: 33.3%;
    padding-right: 50px;
}
/* tin tức */
.wrap-tintuc{
    padding: 0px !important;
    justify-content: space-between;
}
.left-map{
    width: 66.66%;
    height: 100vh;
}
.right-tintuc{
    width: calc(100% - 66.66%);
    padding: 0px 30px;
}
.tintuc-item .name-tintuc{
    font-size: 50px;
    color: #575756;
    font-family: "font3";
    margin-bottom: 20px;
    line-height: 70px;
}
.tintuc-item .desc-tintuc{
    font-size: 16px;
    color: #575756;
    font-family: "font2";
}
/*  */
.logo {
    position: relative;
}

.logo::before {
    content: '';
    position: absolute;
    background: url(../imgs/map.png) no-repeat;
    bottom: -50px;
    left: 0px;
    height: 138px;
    width: 125px;
}

.slick-youtube {
    width: 60%;
    z-index: 2;
    left: -100px;
}

.operation {
    width: 50%;
    height: 170px;
    display: flex;
    background: #c0031b;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding-left: 80px;
}

.operation .title-video {
    font-size: 50px;
    color: white;
    font-weight: bold;
    padding: 0px 20px;
}

.slick-youtube .slick-prev:before {
    display: none
}

.slick-youtube .slick-next:before {
    display: none
}

.slick-youtube .slick-prev {

    right: -34%;
    top: 60%;
    left: unset;
    width: 50px;
    height: 50px;
}

.slick-youtube .slick-prev img {
    width: 50px;
    height: 50px;
}

.slick-youtube .slick-next {
    right: -40%;
    top: 60%;

    left: unset;
    width: 50px;
    height: 50px;
}

.slick-youtube .slick-next img {
    width: 50px;
    height: 50px;
}






/*  */
.quick_contact {
    position: fixed;
    bottom: 50px;
    left: 60px;
    z-index: 20;
}

.quick_contact a {
    display: block;
    position: relative;
    font-size: 18px;
    color: #fff;
    padding: 0 20px 0 35px;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    border-radius: 0 40px 40px 0;
}

.quick_contact a span {
    display: flex;
    width: 45px;
    height: 45px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: -25px;
    /* color: #2E8B57; */
    top: -2.5px;
    border: solid 5px #fc0;
    align-items: center;
    justify-content: center;
}

.button_gradient {
    background-image: linear-gradient(90deg, #2E8B57 0%, #2E8B57 100%);
    border: 2px #fff solid;
}

.contact-phone {
    float: left;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 1.2;
    font-family: 'font1';
    line-height: 45px;
    animation-duration: 800ms;
    animation-name: chopchop;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    line-height: 40px;
}

.quick_contact a span:before {
    content: "";
    position: absolute;
    top: -30px;
    left: -27px;
    width: 95px;
    height: 95px;
    background: url(../imgs/contact_rotate.png) center no-repeat;
    animation: rotate 3s linear infinite;
}


.quick_contact2 {
    position: fixed;
    bottom: 150px;
    left: 60px;
    z-index: 20;
}

.quick_contact2 a {
    display: block;
    position: relative;
    font-size: 18px;
    color: #fff;
    padding: 0 20px 0 35px;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    border-radius: 0 40px 40px 0;
}

.quick_contact2 a span {
    display: flex;
    width: 45px;
    height: 45px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: -25px;
    /* color: #2E8B57; */
    top: -2.5px;
    border: solid 5px #fc0;
    align-items: center;
    justify-content: center;
}

.quick_contact2 a span:before {
    content: "";
    position: absolute;
    top: -30px;
    left: -27px;
    width: 95px;
    height: 95px;
    background: url(../imgs/contact_rotate.png) center no-repeat;
    animation: rotate 3s linear infinite;
}

@-webkit-keyframes rotate {

    from {

        -webkit-transform: rotate(0deg);

        transform: rotate(0deg)
    }



    to {

        -webkit-transform: rotate(360deg);

        transform: rotate(360deg)
    }

}

@keyframes rotate {

    from {

        -webkit-transform: rotate(0deg);

        -moz-transform: rotate(0deg);

        -ms-transform: rotate(0deg);

        transform: rotate(0deg)
    }



    to {

        -webkit-transform: rotate(360deg);

        -moz-transform: rotate(360deg);

        -ms-transform: rotate(360deg);

        transform: rotate(360deg)
    }

}

@keyframes chopchop {
    0% {
        transform: scale(1);
        color: #fff;
    }

    50% {
        transform: scale(1.1);
        color: #ec2d3f;
    }

    100% {
        transform: scale(1);
        color: #fc0;
    }
}

/* liên hệ chúng tôi */
.group-contact {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info-contact h3 {
    font-size: 30px;
    margin: 0px;
    font-family: 'font4';
}

.info-contact p {
    margin: 0px;
    font-family: 'font1';
}

.name-product:hover {
    color: #fc0;
    transition: 0.7s;
}


/* From Uiverse.io by xetrov47 */
.search {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #767676;
    color: #767676;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: -1.5rem;
    height: 30px;
    width: 15rem;
}

.search__input::-webkit-input-placeholder {
    font-weight: 400;
    color: #767676;
    font-size: 14px;
}

.search__button {
    border: none;
    background-color: #fff;
    margin-top: 0.1em;
}

.search__button:hover {
    cursor: pointer;
}

.search input:focus {
    outline: none;
}
/* footer */
.footer {
    background: url(../imgs/bgr_footer2.png) no-repeat;
    background-size: 100% 100%;
}

.footer-article {
    padding: 50px;
}



.footer-title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 1rem;
    font-weight: 500;
    color: white;
    font-weight: bold;
}

.footer-desc {
    margin: 20px 0px;

}

.title-time-footer {
    text-align: center;
    font-size: 30px;
    color: #ca021e;
    font-weight: bold;
}

.footer-news h3.title-footer {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.footer-news .group-ship {
    margin-top: 20px;
}

.footer-name {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.social-footer .title-social {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.footer-info {
    color: white;
}

.map-facebook {
    display: flex;
    gap: 20px;
}

.map {
    width: 75%;
}

.face {
    width: calc(100% - 75%);
}

/* map */
.footer_map_tab {
    position: relative;
}

.flex_mapaa {
    display: flex;
}

.wrap_map {
    position: absolute;
    top: 0px;
    transform: translateX(-50%);
    left: 50%;
}

.map_frame iframe {
    width: 100%;
}

.map_items {
    background: white;
    width: 200px;
    height: auto;
}

.map_items.active {
    background: #007e06;
    color: white;
}

/*  */
.fullpage-wrapper{
    width: 100%;
    height: 100vh;
    /* overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth; */
    overflow: hidden; 
    position: relative;
}
.slides{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #fff; */
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease-in-out;
    padding: 0px 50px;
}
.slide-1{
    background: url(../imgs/slide-1.jpg) no-repeat fixed;
    background-size: 100% 100%;

}
.slide-2{
    background: url(../imgs/slide-2.jpg) no-repeat fixed;
    background-size: 100% 100%;
    

}
.slide-3{
    background: url(../imgs/slide-3.jpg) no-repeat fixed;
    background-size: 100% 100%;
    
}
.slide-4{
    background: url(../imgs/slide-4.jpg) no-repeat fixed;
    background-size: 100% 100%;

}
.slide-5{
    background: url(../imgs/slide-5.jpg) no-repeat fixed;
    background-size: 100% 100%;
    background-size: cover;

}

/* album */
.box-album{
    text-align: center;
}



/* hiệu ứng */
.slides.slide-1 .box-product .product-box-imgs img {
    transform: rotate(-360deg);
    /* transition: transform 0.3s ease-in-out;  */
}

.slides.slide-1 .box-product .product-box-imgs img.animate {
    animation: rotate-once 2s ease-in-out forwards;
}

.slides.slide-1 .box-product .product-box-imgs img.reverse {
    animation: rotate-reverse 0.1ms ease-in-out forwards;
}

@keyframes rotate-once {
    from {
        transform: rotate(-280deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes rotate-reverse {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(-280deg);
    }
}

.slides.slide-2 .box-product .product-box-imgs img{
    transform: translateY(0);
}
.slides.slide-2 .box-product .product-box-imgs img.fall {
    animation: fall-down 2s ease-in-out forwards;
}

.slides.slide-2 .box-product .product-box-imgs img.reverse {
    animation: fall-top 2ms ease-in-out forwards;
    /* animation: fall-down 2s ease-in-out forwards; */
}
@keyframes fall-down {
    0% {
        transform: translateY(-100%); /* Ảnh bắt đầu từ ngoài màn hình phía trên */
        opacity: 0; /* Ẩn dần */
    }
    50% {
        opacity: 0; /* Hiện dần khi rơi */
    }
    100% {
        transform: translateY(0); /* Ảnh đến vị trí ban đầu */
        opacity: 1;
    }
}
@keyframes fall-top {
    0% {
        
        transform: translateY(0); /* Ảnh đến vị trí ban đầu */
        opacity: 1;
    }
    50% {
        opacity: 0; /* Hiện dần khi rơi */
    }
    100% {
        transform: translateY(-100%); /* Ảnh bắt đầu từ ngoài màn hình phía trên */
        opacity: 0; /* Ẩn dần */
    }
}