@media (max-width: 1024px) {
    body.overflow-hi{
        overflow: visible !important;
    }
    .fullpage-wrapper{
        height: 100%;
    }
    .wrap-content{
        width: calc(100% - 30px);
    }
    .slides{
       position: static;
       width: 100%;
       height: fit-content;
    }
    .operation {
        width: 55%;
    }

    .slick-youtube .slick-prev {
        right: -50%;
    }

    .slick-youtube .slick-next {
        right: -58%;
    }

    .footer-news:nth-child(4) {
        width: 20%;
    }

    .gioithieu-bottom {
        bottom: -350px;
        right: 20px;
    }

    .line-title {
        height: 200px;
    }

    .info-gioithieu {}

    .xemthem-gioithieu {
        margin-top: 10px;
    }

    .section-video {
        right: 30px;
    }

    .w-menu {
        display: none;
    }

    .left_newsdm {
        width: 100%;
    }

    .right_newsdm {
        display: none;
    }

    .wrap__logommenu {
        display: block;
    }

    .breadCrumbs {
        padding-top: 85px;
    }

    .slideshow {
        padding-top: 131px;
    }

    .wrap__logommenu {
        position: fixed;
        z-index: 10;
        top: 0;
        width: 100%;
        background: var(--c1);
    }

    /*  */
    .header_mobile {
        display: block;
    }

    .head {
        display: none;
    }

    .search-res .icon-search {
        color: black;
        font-size: 20px;
    }

    /*  */
    .contact-input {
        margin-bottom: 15px;
    }

    .flex-cus,
    .row-video,
    .row-20 {
        margin-left: -5px;
        margin-right: -5px;
    }

    .mg-cus,
    .mg-video,
    .col-20 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .content-text img {
        height: auto !important;
    }

    .padding-top-bottom {
        padding: 2rem 0;
    }

    .pad-top {
        padding-top: 2rem;
    }

    .pad-bottom {
        padding-bottom: 2rem;
    }

    .mg-top {
        margin-top: 2rem;
    }

    .mg-bottom {
        margin-bottom: 2rem;
    }

    .title-detail-main {
        font-size: 20px;
    }

    .cart-fixed {
        bottom: 220px;
    }

    .btn-frame {
        display: none;
    }

    .cart-pro-detail {
        width: 100%;
        margin-top: 10px;
    }

    .pad-bottom {
        padding-bottom: 2rem !important;
    }

    .pad-top {
        padding-top: 2rem !important;
    }

    .padding-top-bottom {
        padding: 2rem 0 !important;
    }

    .menu {
        display: none;
    }

    .menu-res {
        display: block;
    }

    .product-tool {
        opacity: 1;
        visibility: visible;
        position: initial;
    }

    .product-tool a span {
        display: none;
    }

    body.menu-open {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .wrap_logommenu {
        text-align: center;
        background: var(--c1);
    }
}

@media (max-width: 992px) {
    .othernews {
        position: initial;
    }

    .footer-title:after {
        width: 100%;
    }

    #fanpage-facebook {
        width: 300px;
        overflow: hidden;
        margin: auto;
    }

    .footer-news:nth-child(4) {
        width: 100%;
    }

    .footer-news:nth-child(3) {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-news:nth-child(2) {
        width: 100%;
        margin: 20px 0;
    }

    .footer-news:nth-child(1) {
        width: 100%;
    }

    .time-news {
        display: none;
    }

    .copyright,
    .statistic {
        width: 100%;
        text-align: center;
    }

    .footer-ul li {
        width: calc(100% / 2 - 5px);
    }

    .footer-ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .slideshow{
        margin-top: 130px;
    }
    .slides{
        padding: 0px 15px ;
    }
    .slide-1{
        background: url(../imgs/slide-mb-1.jpg) no-repeat;
        background-size: cover;
        flex-direction: column;
    }
    .slide-2{
        background: url(../imgs/slide-mb-2.jpg) no-repeat;
        background-size: cover;
        flex-direction: column;
    }
    .slide-3{
        background: url(../imgs/slide-mb-3.jpg) no-repeat;
        background-size: cover;
        flex-direction: column;
    }
    .slide-4{
        background: url(../imgs/slide-mb-4.jpg) no-repeat;
        background-size: cover;
        flex-direction: column;
    }
    .slide-5{
        background: url(../imgs/slide-mb-5.jpg) no-repeat;
        background-size: cover;
        flex-direction: column;
    }
    .box-product{
        flex-direction: column;
        gap: 10px;
        box-shadow: none;
    }
    .product-box-info{
        width: 100%;
        padding: 0px;
    }
    .product-box-info .product-name{
        font-size: 35px;
        text-align: center;
        color: white;
    }
    .product-box-info .product-desc{
        font-size: 15px;
        margin: 20px 0px 20px 0px;
        color: white;
    }
    .btn-group{
        position: static;
        width: 100%;
    }
    .box-left{
        display: none;
    }
    .product-content p{
        max-width: 100%;
        padding: 10px;
        margin: 0px;
    }
    .btn-detail{
        display: none;
    }
    .product-content{
        background: none;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        color: white;
    }
    .footer{
        height: auto;
    }
    .footer-statistic{
        text-align: center;
    }
    .wrap-gioithieu{
        flex-direction: column;
        gap: 20px;
    }
    .left-gioithieu{
        width: 100%;
    }
    .mid-gioithieu{
        width: 100%;
        padding: 0px 15px;
    }
    .right-gioithieu{
        width: 100%;
        padding: 0px 15px;

    }
    .name-gioithieu{
        margin-bottom: 20px;
        font-size: 35px;
    }
    .name-gioithieu2{
        display: none;
    }
    .box-tintuc{
        height: auto;
        flex-direction: column;
    }
    .tintuc-item .name-tintuc{
        font-size: 35px;
    }
    .left-gioithieu img{
        height: auto;
    }
    .product-box-imgs img{
        z-index: 2;
    }
    #footer-map{
        /* height: fit-content; */
    }
    .left-map{
        width: 100%;
        height: auto;
    }
    .right-tintuc{
        width: 100%;
        padding: 0px 15px;
    }
    .footer-article .wrap-content{
        flex-direction: column;
    }
    .footer-article{
        padding: 0px;
    }
    .banner-album{
        padding: 0px;
        margin-top: 100px;
    }
    .banner-album img{
        height: auto;
    }
    .title-main{
        margin-top: 1.5rem;
    }
    .footer-copyright{
        text-align: center;
    }
}

@media (max-width: 576px) {
    .wrap-baogia-album {
        padding: 20px 0px 0px 0px;
    }

    .wrap-group-video {
        padding: 0px 0px 20px 0px;
    }

    .box-main-product {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .img-gioithieu .img2 {
        right: 0px;
    }

    .info-quytrinh::after {
        display: none;
    }

    .group-newsletter {
        flex-direction: column;
        gap: 0px;
    }

    .wrap-doitac {
        padding: 20px 0px;
    }

    .group-newsletter .col-group {
        flex-direction: column;
        width: 100%;
        gap: 0px;
    }

    .col-group-text .input-group {
        margin-bottom: 10px;
    }

    .info-form {
        display: none;
    }

    .group-newsletter .col-group:nth-child(3) {
        width: 100%;
    }

    .col-group-text {
        width: 100%;
    }

    .info-quytrinh::before {
        border-width: 0 19px 19px 20px;
        border-color: transparent transparent #d6d6d6 transparent;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        content: '';
        top: -20px;
        /* left: calc(8%); */
        z-index: 121213;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .img-gioithieu::after {
        display: none;
    }

    .info-gioithieu {
        padding: 0px;
    }

    .album-image-item {
        height: 100%;
    }

    .scroll-text.top-section {
        top: 0;
        display: none;
    }

    .wrap-group-tintuc .wrap-content {
        flex-direction: column;
    }

    .box-main-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .box-main-tintuc {
        flex-direction: column;
    }

    .group-tintuc {
        width: 100%;
    }

    .one-tintuc {
        width: 100%;
    }

    /* .content_contactus {
        margin-top: 150px;
    } */

    .slideshow {
        padding-top: 85px;
    }

    .wrap-product,
    .wrap-duan,
    .wrap-video,
    .wrap-news {
        padding: 20px 0px;
        background-size: cover;
    }

    .footer-ul {
        width: 100%;
    }

    .slick-youtube .slick-prev {
        display: none;
        right: auto;
    }


    .slick-youtube .slick-next {
        display: none;
        right: auto;
    }

    .slick-youtube .slick-next img {
        display: none;
    }

    .slick-youtube .slick-prev img {
        display: none;
    }

    .box-main-duan {
        display: flex;
        flex-direction: column;
    }

    .operation {
        display: none;
    }

    .slick-youtube {
        width: 100%;
        display: block;
        left: auto;
    }

    .wrap-khonggian {
        padding: 20px 0px;
    }

    .info-gioithieu {}

    .line-title .name-gioithieu {
        font-size: 40px;
        top: -30px;
    }

    .info-gioithieu .title-gioithieu {
        font-size: 50px;
    }

    .xemthem-gioithieu {
        margin-top: 25px;
    }

    .grid-product-seller {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .grid-product-menu {
        grid-template-columns: repeat(2, 1fr);

    }

    .wrap-dichvu {
        padding: 20px 0px;
    }

    .xemthem {
        display: none;
    }

    .box-main-khonggian {
        display: flex;
        flex-direction: column;
    }

    .line-title .name-gioithieu {
        width: 100%;
        text-align: center;
    }

    .box-video a strong img {
        height: 100% !important;
    }

    .slider-for .box-video a strong::after {
        width: 50px;
        height: 50px;
    }

    .contact-form .row {
        margin: 0px;
        flex-direction: column;
    }

    .input-group-newsleter.col-6 {
        width: 100%;
    }

    .toast-cus {
        left: 5px;
        width: calc(100% - 10px);
    }

    .box-readmore {
        width: calc(100% - 5px);
    }

    .newshome-scroll {
        width: 100%;
    }

    .newshome-intro {
        width: 100%;
        margin-bottom: 20px;
    }

    .top-contact .form-contact .button-contact .file-contact span b {
        max-width: 105px;
    }

    .cart-pro-detail {
        flex-wrap: wrap;
    }

    .cart-pro-detail a {
        width: 100%;
        text-align: center;
        margin: 0px !important;
    }

    .cart-pro-detail a:first-child {
        margin-bottom: 5px !important;
    }

    .quick_contact {
        display: none;
    }

    .quick_contact2 {
        display: none;
    }
}